<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-if="::isAdmin" class="container">
  <div class="row admin-controls">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="refreshTexts()">
        <i class="fa fa-refresh"></i>
        <i class="fa fa-book"></i>
        Refresh texts
      </button>
      <button class="btn btn-primary" ng-click="refreshGlosses()">
        <i class="fa fa-refresh"></i>
        <i class="fa fa-comments"></i>
        Refresh glosses
      </button>
      <button class="btn btn-primary" ng-click="refreshUsers()">
        <i class="fa fa-refresh"></i>
        <i class="fa fa-user"></i>
        Refresh users
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="/admin/sections">Admin: Sections</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="/admin/users">Admin: Users</a>
    </div>
  </div>
</div>
