<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-if="::isAdmin" class="container">
  <!-- sections -->
  <div class="row">
    <div class="col-xs-12">
      <h1>Manage sections</h1>
      <form name="sectionForm" role="form" ng-class="{'has-error': sectionForm.hasErrors}">
        <!-- input box -->
        <p class="input-group">
          <input name="name" type="text" id="sectionInput" ng-model="section.name" placeholder="Name of section…" class="form-control">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addSection(sectionForm)"><i class="fa fa-plus"></i> Add New</button>
          </span>
        </p>
        <!-- alert box -->
        <div class="help-block" ng-show="sectionForm.name.$error.mongoose" ng-bind="sectionForm.name.$error.mongoose"></div>
      </form>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="section in sections">
            <span editable-text="section.name"
              onbeforesave="renameSection(section, $data)">{{section.name}}</span>
            <!--<a ng-click="deleteSection(section)" class="trash">
              <i class="fa fa-trash pull-right"></i>
            </a>-->
        </li>
      </ul>
    </div>
  </div>
</div>
