<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-if="::isAdmin" class="container">
  <!-- users -->
  <div class="row">
    <div class="col-xs-12">
      <h1>Manage users</h1>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in users | orderBy:'name'">
            <strong>{{user.name}}</strong>
            <span class="text-muted">{{user.email}}</span><br>
            role: <span editable-select="user.role"
              e-ng-options="role as role for role in userRoles"
              onbeforesave="setUserRole(user, $data)">{{user.role}}</span>
            | section: <span editable-select="user.section._id"
              e-ng-options="section._id as section.name for section in sections"
              onbeforesave="setUserSection(user, $data)">{{user.section.name}}</span>
            <a ng-click="deleteUser(user)" class="trash">
              <i class="fa fa-trash pull-right"></i>
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
