<div class="popover" ng-click="$hide()">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
  <div class="popover-content">
    <ul class="list-unstyled gloss-list">
      <li ng-repeat="gloss in glossLinks[content]">
        <div ng-class="'gloss-' + gloss.getLevel(section)">
          <span class="entry-heading">{{::gloss.entry}}</span>
          {{::gloss.meaning}}
        </div>
      </li>
    </ul>
  </div>
</div>
