<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <header>
        <h1>
          <span editable-text="text.title"
                onbeforesave="renameText($data)">{{text.title}}</span>
          <small><span class="label label-info">{{text.lang}}</span></small>
        </h1>
        <p ng-if="::(text.authors.length || text.editors.length)" class="lead">
          <span ng-if="::text.authors.length">
            Written by <vel-author-list list="::text.authors"></vel-author-list>
          </span>
          <br ng-if="::(text.authors.length && text.editors.length)">
          <span ng-if="::text.editors.length">
            Edited by <vel-author-list list="::text.editors"></vel-author-list>
          </span>
        </p>
      </header>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <b>Language</b>
    </div>
    <div class="col-xs-4">
      <span editable-select="text.lang"
        e-ng-options="lang.short as lang.long for lang in langs"
        onbeforesave="setTextLang($data)">{{langdict[text.lang]}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <b>Restrict</b>
    </div>
    <div class="col-xs-4">
      <span editable-select="text.requiredRole"
        e-ng-options="role as role for role in userRoles"
        onbeforesave="setTextRole($data)">{{text.requiredRole}}</span>
    </div>
  </div>

  <div class="row admin-controls">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="textEditForm.$show()" ng-disabled="textEditForm.$visible"><i class="fa fa-pencil"></i> Edit text body</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div editable-textarea="text.body" e-form="textEditForm" onbeforesave="updateText($data)" e-rows="20" e-cols="80">
      <vel-text-render text="text" glosses="glosses" section="user.section._id"></vel-text-render>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
