<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <header>
        <h1>
          {{::text.title}}
          <small><span class="label label-info">{{::text.lang}}</span></small>
        </h1>
        <p ng-if="::(text.authors.length || text.editors.length)" class="lead">
          <span ng-if="::text.authors.length">
            Written by <vel-author-list list="::text.authors"></vel-author-list>
          </span>
          <br ng-if="::(text.authors.length && text.editors.length)">
          <span ng-if="::text.editors.length">
            Edited by <vel-author-list list="::text.editors"></vel-author-list>
          </span>
        </p>
      </header>
    </div>
  </div>
</div>

<div class="container">
  <!-- controls -->
  <div ng-if="::isAdmin" class="row admin-controls">
    <div class="col-xs-12">
      <a class="btn btn-primary" ng-href="/texts/{{::text._id}}/edit"><i class="fa fa-pencil"></i> Edit text</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <vel-text-render text="text" glosses="glosses" section="user.section._id"></vel-text-render>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
