<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <header>
    <h1>Texts</h1>
  <header>
</div>

<div class="container">
  <!-- controls -->
  <div ng-if="::isAdmin" class="row admin-controls">
    <div class="col-xs-12">
      <a class="btn btn-primary" href="/texts/create"><i class="fa fa-plus"></i> Create text</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <vel-text-list list="::texts" show-authors="true"></vel-text-list>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
