<ul class="texts-list">
  <li ng-repeat="text in texts | orderBy:'title'">

    <strong>
      <a ng-if="::text.accessible" ng-href="/texts/{{::text._id}}">{{::text.title}}</a>
      <span ng-if="::!text.accessible" class="text-danger">{{::text.title}}</span>
    </strong>

    <span class="label label-info">{{::text.lang}}</span>

    <span ng-if="::text.accessible && text.restricted"
          class="label label-success">
      <i class="fa fa-unlock-alt"></i> {{::text.requiredRole}}</span>
    <span ng-if="::!text.accessible"
          class="label label-danger">
      <i class="fa fa-lock"></i> {{::text.requiredRole}}</span>

    <span ng-if="::showAuthors && text.authors.length">
      by <vel-author-list list="::text.authors"></vel-author-list>
    </span>

  </li>
</ul>
