@font-size-reading: ceil((@font-size-base * 1.33)); // ~24px

.textview {
  font-family: @font-family-serif;
  font-size: @font-size-reading;
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.textview p {
  margin-bottom: 1.5em;
}

.textview w.gloss-0, .gloss-list .gloss-0 {
  background-color: @gloss-level-0;
}

.textview w.gloss-1, .gloss-list .gloss-1 {
  background-color: @gloss-level-1;
}

.textview w.gloss-2, .gloss-list .gloss-2 {
  background-color: @gloss-level-2;
}

.textview w.gloss-3 {
  border-bottom: 2px solid @gloss-level-3;
}

.gloss-list .gloss-3 {
  background-color: @gloss-level-3;
}

.textview w.has-glosses {
  background-color: #ccf;
}

.textview w.no-glosses {
  //background-color: #eef;
}

.popover {
  font-family: @font-family-sans-serif;
  font-size: @font-size-small;
  font-weight: normal;
  font-style: normal;
}

.popover li {
  line-height: 1.2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

ul.gloss-list {
  margin-bottom: 0;
}

.gloss-list .entry-heading {
  font-weight: bold;
  margin-right: 0.5em;
}
