<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <header>
        <h1>Create Text</h1>
      </header>
    </div>
  </div>
</div>

<div class="container">
  <form novalidate name="textForm" class="form-horizontal">

    <!-- lang -->
    <div class="form-group"
         ng-class="{'has-error': textForm.lang.$error.mongoose}">
      <label for="lang" class="col-xs-2 control-label">Language</label>
      <div class="col-xs-4">
        <select name="lang" ng-model="text.lang" class="form-control"
          ng-options="lang.short as lang.long for lang in langs">
        </select>
        <div class="help-block" ng-show="textForm.lang.$error.mongoose"
          ng-bind="textForm.lang.$error.mongoose"></div>
      </div>
    </div>

    <!-- role/access -->
    <div class="form-group"
         ng-class="{'has-error': textForm.role.$error.mongoose}">
      <label for="role" class="col-xs-2 control-label">Restrict</label>
      <div class="col-xs-4">
        <select name="role" ng-model="text.requiredRole" class="form-control"
          ng-options="role as role for role in userRoles">
        </select>
        <div class="help-block" ng-show="textForm.role.$error.mongoose"
          ng-bind="textForm.role.$error.mongoose"></div>
      </div>
    </div>

    <!-- title -->
    <div class="form-group"
      ng-class="{'has-error': textForm.title.$error.mongoose}">
      <label for="title" class="col-xs-2 control-label">Title</label>
      <div class="col-xs-10">
        <input name="title" type="text.title" ng-model="text.title"
          class="form-control" placeholder="Text title">
        <div class="help-block" ng-show="textForm.title.$error.mongoose"
          ng-bind="textForm.title.$error.mongoose"></div>
      </div>
    </div>

    <!-- body -->
    <div class="form-group"
      ng-class="{'has-error': textForm.body.$error.mongoose}">
      <label for="title" class="col-xs-2 control-label">Text body</label>
      <div class="col-xs-10">
        <textarea name="body" ng-model="text.body"
          class="form-control" placeholder="Text goes here"></textarea>
        <div class="help-block" ng-show="textForm.body.$error.mongoose"
          ng-bind="textForm.body.$error.mongoose"></div>
      </div>
    </div>

    <!-- controls -->
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <input type="submit" class="btn btn-primary"
          ng-click="createText(textForm)" value="Save">
      </div>
    </div>

  </form>
</div>

<div ng-include="'components/footer/footer.html'"></div>
