@gloss-level-0: #eeeeee; // gray
@gloss-level-1: #ffcbbb; // red
@gloss-level-2: #fff0cc; // orange
@gloss-level-3: #cceecc; // green

.glosslist table tr td {
  vertical-align: middle;
}

.glosslist td.level-0 {
  background: @gloss-level-0;
}

.glosslist td.level-1 {
  background: @gloss-level-1;
}

.glosslist td.level-2 {
  background: @gloss-level-2;
}

.glosslist td.level-3 {
  background: @gloss-level-3;
}

