<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <header>
    <h1>Glossary</h1>
    <p class="lead">Words and expressions…</p>
  <header>
</div>

<div class="container">
  <form class="form-horizontal">

    <div class="form-group">
      <!-- filter lang -->
      <label for="lang" class="col-xs-2 control-label">Language</label>
      <div class="col-xs-4">
        <select name="lang" ng-model="lang" class="form-control"
          ng-options="lang.short as lang.long for lang in langs">
        </select>
      </div>
      <!-- section status -->
      <label for="section" class="col-xs-2 control-label">Section</label>
      <div class="col-xs-4">
        <select name="section" ng-model="section" class="form-control"
          ng-options="section._id as section.name for section in sections">
        </select>
      </div>
    </div>

    <!-- filter search -->
    <div class="form-group">
      <label for="filter" class="col-xs-2 control-label">Filter</label>
      <div class="col-xs-10">
        <input name="filter" type="text" class="form-control" placeholder="Filter results">
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-2">
        <button class="btn btn-default" ng-click="refreshGlosses()">
          <i class="fa fa-refresh"></i> Reload
        </button>
      </div>
    </div>

  </form>
</div>

<!-- list glosses -->
<div class="container">
  <div class="row">
    <div ng-if="::isAdmin" class="col-md-12 glosslist">
      <label>Glosses</label>
      <table class="table table-bordered table-condensed">

        <tr style="font-weight: bold">
          <td style="width:25%">Entry</td>
          <td style="width:15%">Lemma</td>
          <td style="width:40%">Meaning</td>
          <td style="width:20%">Edit</td>
        </tr>

        <tr ng-repeat="gloss in glosses">
          <td ng-class="'level-'+gloss.getLevel(section)">
            <!-- editable gloss entry -->
            <span editable-text="gloss.entry" e-name="entry" e-form="rowform" onbeforesave="checkField($data, gloss._id)" e-required>
              {{ gloss.entry || 'empty' }}
            </span>
          </td>
          <td>
            <!-- editable gloss lemma -->
            <span editable-text="gloss.lemma" e-name="lemma" e-form="rowform" e-required>
              {{ gloss.lemma || 'empty' }}
            </span>
          </td>
          <td>
            <!-- editable gloss meaning -->
            <span editable-text="gloss.meaning" e-name="meaning" e-form="rowform" onbeforesave="checkField($data, gloss._id)" e-required>
              {{ gloss.meaning || 'empty' }}
            </span>
          </td>
          <td style="white-space: nowrap">
            <!-- form -->
            <form editable-form name="rowform" onbeforesave="saveGloss($data, $index, gloss._id)" oncancel="cancel($data, $index, gloss._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == gloss">
              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary"><i class="fa fa-check"></i></button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default"><i class="fa fa-ban"></i></button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-primary" ng-click="rowform.$show()"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-danger" ng-click="removeGloss(gloss)"><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </table>
      <button class="btn btn-default" ng-click="addGloss()">Add new gloss</button>
    </div>

    <div ng-if="::isNotAdmin" class="col-md-12 glosslist">
      <label>Glosses</label>
      <table class="table table-bordered table-condensed">
        <tr style="font-weight: bold">
          <td style="width:30%">Entry</td>
          <td style="width:20%">Lemma</td>
          <td style="width:50%">Meaning</td>
        </tr>
        <tr ng-repeat="gloss in glosses">
          <td ng-class="'level-'+gloss.getLevel(section)">{{ gloss.entry }}</td>
          <td>{{ gloss.lemma }}</td>
          <td>{{ gloss.meaning }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
