<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <header>
    <h1>Gloss Levels</h1>
  <header>
</div>

<div class="container">
  <form class="form-horizontal">

    <div class="form-group">
      <!-- filter lang -->
      <label for="lang" class="col-xs-1 control-label">Lang</label>
      <div class="col-xs-5">
        <select name="lang" ng-model="lang" class="form-control"
          ng-options="lang.short as lang.long for lang in langs">
        </select>
      </div>
      <!-- section status -->
      <label for="section" class="col-xs-1 control-label">Sec</label>
      <div class="col-xs-5">
        <select name="section" ng-model="section" class="form-control"
          ng-options="section._id as section.name for section in sections">
        </select>
      </div>
    </div>

    <!-- filter search -->
    <div class="form-group">
      <label for="filter" class="col-xs-1 control-label">Filter</label>
      <div class="col-xs-11">
        <input name="filter" type="text" class="form-control" placeholder="Filter results">
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-1 control-label">Load</label>
      <div class="col-xs-5">
        <button class="btn btn-default" ng-click="loadGlosses(0)"><i class='fa fa-times'></i></button>
        <button class="btn btn-default" ng-click="loadGlosses(1)">1</button>
        <button class="btn btn-default" ng-click="loadGlosses(2)">2</button>
        <button class="btn btn-default" ng-click="loadGlosses(3)">3</button>
        <button class="btn btn-default" ng-click="loadGlosses(-1)">all</button>
      </div>
      <label class="col-xs-1 control-label">Load²</label>
      <div class="col-xs-5">
        <button class="btn btn-default" ng-click="smartLoadGlosses(0)"><i class='fa fa-times'></i></button>
        <button class="btn btn-default" ng-click="smartLoadGlosses(1)">1</button>
        <button class="btn btn-default" ng-click="smartLoadGlosses(2)">2</button>
        <button class="btn btn-default" ng-click="smartLoadGlosses(3)">3</button>
        <button class="btn btn-default" ng-click="smartLoadGlosses(-1)">all</button>
      </div>
    </div>

  </form>

  <!-- list glosses -->
  <div class="row">
    <div class="col-xs-12 glosslist">
      <label>Glosses</label>
      <table class="table table-bordered table-condensed">

        <tr style="font-weight: bold">
          <td style="width:25%">Entry</td>
          <td style="width:15%">Lemma</td>
          <td style="width:35%">Meaning</td>
          <td style="width:25%">Level</td>
        </tr>

        <tr ng-repeat="gloss in glosses">
          <td ng-class="'level-'+gloss.level">{{ gloss.entry }}</td>
          <td>{{ gloss.lemma }}</td>
          <td>{{ gloss.meaning }}</td>
          <td>
            <div class="btn-group btn-group-sm" ng-model="gloss.level" bs-radio-group>
              <label class="btn btn-default btn-sm">
                <input type="radio" class="btn btn-default btn-sm"
                  ng-click="updateLevel(gloss)" value="0">
                <i class="fa fa-times"></i>
              </label>
              <label class="btn btn-default btn-sm">
                <input type="radio" class="btn btn-default btn-sm"
                  ng-click="updateLevel(gloss)" value="1">
                1
              </label>
              <label class="btn btn-default btn-sm">
                <input type="radio" class="btn btn-default btn-sm"
                  ng-click="updateLevel(gloss)" value="2">
                2
              </label>
              <label class="btn btn-default btn-sm">
                <input type="radio" class="btn btn-default btn-sm"
                  ng-click="updateLevel(gloss)" value="3">
                3
              </label>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
