<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Login</h1>
    </div>
    <div class="col-xs-12">
      <div>
        <p>Please log in using your Google account.</p>
        <p><a class="btn btn-default" href="" ng-click="loginOauth('google')">
          <i class="fa fa-google-plus"></i> Connect with Google+
        </a></p>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
