<div class="modal-inner-content">

<h3>What is vēlōcius?</h3>

<p><b>vēlōcius</b> is intended to assist in language acquisition by offering a
library of texts suitable for extensive reading.</p>

<p>This is a new project, so texts will only be added gradually, as I find time
to select and prepare them. The focus will be on Latin and Ancient Greek.</p>

<p>Currently I am using the site to provide a reading interface for my Latin
students.</p>

<p>Given the above goals, <b>vēlōcius</b> is not meant to provide…</p>

<ul>
  <li>a general-purpose reading interface</li>
  <li>a comprehensive library of texts</li>
  <li>texts at anything above an intermediate level</li>
  <li>help with grammar</li>
</ul>

<h3>Technical info</h3>

<p>This project runs on the so-called ‘MEAN stack’ and is based on the <a
  href="https://github.com/DaftMonk/generator-angular-fullstack/">angular-fullstack</a>
  generator. It is hosted on <a
    href="http://www.openshift.com">OpenShift</a>.</p>

</div>
