<footer class="footer">
  <div class="container">
    <p>
      <a href="" data-animation="am-fade" data-content-template="components/footer/about.html" bs-modal="modal">About this project</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/">Angular Fullstack v2.0.13</a>
    </p>
  </div>
</footer>
