@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

// See bower_components/bootstrap/less/variables.less

/**
 * Fonts
 */

@font-face {
  font-family: 'LinLibertine';
  src: url('/assets/fonts/LinLibertine_R.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LinLibertine';
  src: url('/assets/fonts/LinLibertine_RB.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'LinLibertine';
  src: url('/assets/fonts/LinLibertine_RI.woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'LinLibertine';
  src: url('/assets/fonts/LinLibertine_RBI.woff');
  font-weight: bold;
  font-style: italic;
}

@font-family-serif: LinLibertine, Georgia, "Times New Roman", Times, serif;

@font-size-base: 18px;
@font-size-h1: floor((@font-size-base * 2)); // ~36px
@font-size-h2: ceil((@font-size-base * 1.66)); // ~30px
@font-size-h3: ceil((@font-size-base * 1.33)); // ~24px
@font-size-h4: @font-size-base;
@font-size-h5: ceil((@font-size-base * 0.88)); // ~16px
@font-size-h6: ceil((@font-size-base * 0.77)); // ~14px

// @font-size-base: 16px;
// @font-size-h1: floor((@font-size-base * 2.25)); // ~36px
// @font-size-h2: floor((@font-size-base * 1.9)); // ~30px
// @font-size-h3: ceil((@font-size-base * 1.5)); // ~24px
// @font-size-h4: ceil((@font-size-base * 1.125)); // ~18px

/**
 * Navbar
 */

// Collapse navbar even on larger screens
@grid-float-breakpoint:     @screen-md-min;

.navbar-brand {
  font-size: @font-size-base;
}

.navbar, .navbar .dropdown-menu {
  font-size: @font-size-small;
}

/**
 * Custom Styles
 */

.editable-error {
  font-size: @font-size-base;
}

h1 .editable-click {
  color: inherit;
}

.admin-controls {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.authors-list, .texts-list {
  padding-left: 0;
  list-style: none;
}

.authors-list li, .texts-list li {
  margin-bottom: 0.5em;
}

.footer {
  font-size: @font-size-small;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.footer .modal-content {
  text-align: left;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'authors/authors.less';
@import 'glosses/glosses.less';
@import 'main/main.less';
@import 'texts/texts.less';
@import 'modal/modal.less';
// endinjector
