<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container" bs-collapse data-start-collapsed="true">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" bs-collapse-toggle>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">vēlōcius</a>
    </div>
    <div bs-collapse-target class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in ::menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{::item.link}}">
            <i ng-class="::item.icon"></i> {{::item.title}}
          </a>
        </li>
        <li ng-show="::isAdmin">
          <a href="/glosses/levels">
            <i class="fa fa-tasks"></i> Levels
          </a>
        </li>
        <li ng-show="::isAdmin" class="dropdown">
          <a href="#" class="dropdown-toggle" bs-dropdown="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i> Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin">Refresh</a></li>
            <li><a href="/admin/sections">Sections</a></li>
            <li><a href="/admin/users">Users</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="::isLoggedIn" ng-class="{active: isActive('/login')}"><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
        <li ng-show="::isLoggedIn" ng-class="{active: isActive('/settings')}"><a href="/settings"><i class="fa fa-user"></i> {{ ::user.name }} <small>({{ user.section.name }})</small></a></li>
        <li ng-show="::isLoggedIn" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
    </div>
  </div>
</div>
