<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>vēlōcius</h1>
    <p class="lead">Read more, read faster.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Welcome</h2>

      <p ng-show="::user.name">You are logged in as {{::user.name}}
      <span class="text-muted small">({{::user.email}})</span>.</p>

      <p>Go to the <a href="/texts">text list</a> and start reading!</p>

      <div ng-hide="::isLoggedIn">
        <p>Access to some texts is restricted. To obtain
        further access, please log in.</p>
        <p><a class="btn btn-default" href="" ng-click="loginOauth('google')">
          <i class="fa fa-google-plus"></i> Connect with Google+
        </a></p>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
