#banner {
  font-family: @font-family-serif;
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 50px;
  line-height: 1;
  letter-spacing: 0.1em;
}

#banner .lead {
  font-size: 20px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  background: #ACB6BF;
}
