<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <header>
    <h1>Authors</h1>
  <header>
</div>

<div class="container">

  <div ng-if="::isAdmin" class="admin-controls">
    <form name="authorForm" role="form" ng-class="{'has-error': authorForm.hasErrors}">
      <!-- input box -->
      <p class="input-group">
        <input name="name" type="text" id="authorInput" ng-model="author.name" placeholder="Name of author or editor…" class="form-control">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="addAuthor(authorForm)"><i class="fa fa-plus"></i> Add New</button>
        </span>
      </p>
      <!-- alert box -->
      <div class="help-block" ng-show="authorForm.name.$error.mongoose" ng-bind="authorForm.name.$error.mongoose"></div>
    </form>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <ul class="authors-list">
        <li ng-repeat="author in authors | orderBy:'name'">
          <strong>
            <a ng-href="/authors/{{author._id}}">{{author.name}}</a>
          </strong>
        </li>
      </ul>
    </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
