<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <header>
    <h1 ng-if="::isAdmin">
      <span editable-text="author.name"
        onbeforesave="renameAuthor($data)">{{author.name}}</span>
    </h1>
    <h1 ng-if="::!isAdmin">{{::author.name}}</h1>
  <header>
</div>

<div class="container">
  <!-- controls -->
  <div ng-if="::isAdmin" class="row admin-controls">
    <div class="col-xs-12">
      <div class="has-error">
        <button type="button" class="btn btn-danger" ng-click="deleteAuthor(author)">Delete author</button>
        <div class="editable-error help-block" ng-show="deleteError" ng-bind="deleteError">{{deleteError}}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div ng-if="authoredTexts.length">
        <h3>Texts written:</h3>
        <vel-text-list list="authoredTexts"></vel-text-list>
      </div>

      <div ng-if="editedTexts.length">
        <h3>Texts edited:</h3>
        <vel-text-list list="editedTexts"></vel-text-list>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
